* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  a {
    /* this removes the line under our links */
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
  }
  ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 30px;
    
  }
  .header-container, .first-sec{
    background-color: #1F2937;
  }
  .header-container {
    color: #fff;
    padding: 20px 0;
    display:flex;
    justify-content: center;
  }
  .header{
    display: flex;
    justify-content: space-between;
    width: 1100px;
  }
  .first-sec{
    color: #fff;
    display: flex;
    justify-content: center;
  }
  .firstsec-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
  }
  .firstimage img{
    border:1px solid white;
    border-radius: 25px;
    margin-bottom: 40px;
  }
  .firsttitle, .description {
    margin-bottom: 10px;
  }
  .logo{
    font-size: 24px;
    color: #f9faf8;
  }
  .firsttitle{
    
    font-style: bold;
    color: #f9faf8;
  }
  .description{
    width: 600px;
    
  }
  .info img{
    border: 1px solid #fff;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    border: 1px solid #3882f6;
  }
  .secondsection{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .secondtitle{
    width: 1000px;
    display: flex;
    justify-content: center;
    
    font-size: 25px;
    font-weight: 900;
    margin: 30px;
  }
  .imgcontainer {
    width: 1100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    align-items: center;
   
  }
  .info {
    max-width: 200px;
  }
  .third-sec{
    background-color:  #e5e7eb;
    padding: 20px 0;
    display:flex;
    justify-content: center;
    
  }
  .quote{
    width: 1100px;
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-direction: column;
  }
  .phrase {
    color:#1f2937;
    font-size: 25px;
    font-style: italic;
    display: flex;
    justify-content: center;
  }
  .author{
    width: 1100px;
    display: flex;
    justify-content: flex-end;
  }
  .four-sec {
    color: ;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  
  .foursec-container {
    background-color: #3882f6;
    width: 1100px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
    color: #fff;
  }
  .footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    
   bottom: 0;
   left: 0;
    right: 0;
   height: 40px;
   font-size: 10px;
  
  }
  button{
     color: white;
     border-radius: 6px;
     background-color: #3882f6;
     padding: 8px 15px;
     }
  .foursec-container button{
    border-color: white;
  }